<% form_for(@experiencia, '/experiencias/nueva') do |t| %> 
  Tema 
  <%= t.text_field :tema, :placeholder => "¿Qué tema trabajaste?" %> <br>
  
  Objetivo 
  <%= t.text_field :objetivo, :placeholder => "¿Qué te propusiste eseñar?" %> <br>
  
  Contanos brevemente ¿Cómo lo hiciste? 
  <%= t.text_field :dinamica %> <br>

  ¿Cuanto tiempo te llevó?
  <%= t.text_field :duracion %> <br>

  <%= t.submit "Crear", :class => 'button' %>
<% end %>


<a href="/" class="btn btn-primary big">Volver</a>