<h3>Contános tu experiencia</h3>

<% form_for(:experiencia, '/experiencias/create') do |t| %>
  
  Nivel
  <%= select_tag(:favorite_color, 
                 :options => ['Elegir un nivel...', 'Primaria', 'Secundaria' ], 
                 :selected => 'green1', :required => true)
  %><br>

 Area
  <%= select_tag(:favorite_color, 
                 :options => ['Elegir un Area...', 'Artes', 'Ciencias sociales', 'Ciencias naturales',
                              'Comunicacion', 'Economia y administracion', 'Educacion fisica', 'Educacion sexual integral', 'Filosofia', 'Informatica', 'Lengua', 'Literatura','Matematica', 'Tecnologia', 'Turismo'  
                  ], 
                 :selected => 'green1', :required => true)
 %><br>
  
  Tema
  <%= t.text_field :tema, :placeholder => "¿Qué tema trabajaste?", :required => true %> <br>
  
  Objetivo <br>
  <%= t.text_area :objetivo, :placeholder => "¿Qué te propusiste eseñar?", :required => true %> <br>
  
  Contános brevemente ¿Cómo lo hiciste? <br>
  <%= t.text_area :dinamica, :required => true %> <br>

  ¿Cuanto tiempo te llevó?
  <%= t.number_field :duracion, :required => true %> <br>

  <%= t.submit "Crear", :class => 'button' %>
<% end %>


<a href="/" class="btn btn-primary big">Volver</a>
