<head>
	<meta charset="utf-8">
	<title>Macaya</title>
	<%= stylesheet_link_tag 'style', 'style' %>
	<link rel="shortcut icon" href="ball.ico">
</head>

<body id="css-zen-garden">
<div class="page-wrapper">

	<section class="intro" id="zen-intro">
		<header role="banner">
			<h1></h1>
			<h2>Your Web-App Tournament Creator</h2>
		</header>


		<div class="summary" id="zen-summary" role="article">
			<p>Universidad Nacional de Quilmes - Elementos de Ingeniería de Software - Primer Cuatrimestre 2014</p>
		</div>

	</section>

	<div class="preamble" id="zen-preamble" role="article">
			<h3>¿Qué es Macaya?</h3>
			<p>Esta aplicación permite crear tus propios torneos, crear los equipos que participaran en esto y mucho más.</p>
	</div>

	<div class="preamble" id="zen-preamble" role="article">
			<h3>Torneos Creados Recientemente</h3>
			<p>Aquí se encuentran los torneos recientemente creados: </p>
			<table border="1" style="width:500px">
				<tr>
				  <th>Torneos</th>
				</tr>
				<% @torneos.each do | torneo | %>
				<tr>
  				<td>
					<%= torneo.name %>
				</td>
				</tr>
 				<% end %>

			</table>
			<p><a href="<%= url(:torneos, :all) %>" class="ver-mas">Ver más</a></p>
	</div>

	<div class="preamble" id="zen-preamble" role="article">
			<h3>Equipos Creados Recientemente</h3>
			<p>Aquí se encuentran los equipos recientemente creados: </p>
			<table border="1" style="width:500px">
				<tr>
				  <th>Equipos</th> 
				</tr>
				<% @equipos.each do | equipo | %>
				<tr>
				<td>
					<%= equipo.name %>
				</td>
				</tr>
 				<% end %>
			</table>
			<p><a href="<%= url(:equipos, :all) %>" class="ver-mas">Ver más</a></p>
	</div>

	<aside class="columnaIzquierda" role="complementary">
		<div class="wrapper">
			<div class="design-selection" id="design-selection">
				<h3 class="select">ACCIONES</h3>
				<nav role="navigation">
					<ul>
						<li>
							<a href="<%= url(:torneos, :new) %>" class="ver-mas"><img src="agregarTorneoButton.jpg"</a>
						</li>	
						<li>
							<a href="<%= url(:equipos, :new) %>" class="ver-mas"><img src="agregarEquipoButton.jpg"</a>
						</li>						
					</ul>
				</nav>
				
			</div>

		</div>
	</aside>

</div>
</body>
</html>
