<!DOCTYPE html>
<html lang="en-US">
	<head>
		<meta charset="utf-8">
		<title>Aulaton</title>
		<%= stylesheet_link_tag 'pin' %>
		<%= stylesheet_link_tag 'bootstrap' %>
		<link rel="shortcut icon" href="ball.ico">
	</head>

	<body id="css-zen-garden">

		<div class="page-wrapper">

			<div class="error" id="zen-preamble" role="article">
				<h3>
				<%= [:error, :warning, :notice].map { |type| flash_tag(type, :class => "alert alert-#{type} fade in", :bootstrap => false) }.join.html_safe %>
				</h3>
			</div>

			<div class="exito" id="zen-preamble" role="article">
				<h3>
				<%= [:success].map { |type| flash_tag(type, :class => "alert alert-#{type} fade in", :bootstrap => false) }.join.html_safe %>
				</h3>
			</div>

      <h1>Aulaton</h1>

      <%= yield %>

		</div>
      
	</body>

</html>
