<!DOCTYPE html>
<html lang="en-US">
	<head>
		<meta charset="utf-8">
		<title>Aulaton</title>
		<%= stylesheet_link_tag 'pin' %>
		<%= stylesheet_link_tag 'bootstrap' %>
		<link rel="shortcut icon" href="sharethis-16.ico">
	</head>

	<body id="css-zen-garden">
		<div class="page-wrapper">
			<div class="error" id="zen-preamble" role="article">
				<h3>
				<%= [:error, :warning, :notice].map { |type| flash_tag(type, :class => "alert alert-#{type} fade in", :bootstrap => false) }.join.html_safe %>
				</h3>
			</div>

			<div class="exito" id="zen-preamble" role="article">
				<h3>
				<%= [:success].map { |type| flash_tag(type, :class => "alert alert-#{type} fade in", :bootstrap => false) }.join.html_safe %>
				</h3>
			</div>

      <h1>Aulaton</h1>
      <p>Te invitamos a compartir, conocer y valorar experiencias de otros y otras docentes del país en
			el uso de las notebooks de Conectar Igualdad en el aula. La podés buscar por nivel primario o segundario y por cada área temática.</p>
			
      <%= yield %>

		</div>
      
	</body>

</html>
